<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cardlogin.css">
  <title>Blue Login</title>
</head>

<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form action="/login" method="post" class="login">
          <div class="field">
            <input type="text" name="email" placeholder="Email Address">
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="Password">
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
        </form>
        <form action="/register" method="post" class="signup">
          <div class="field">
            <input type="text" placeholder="Email Address" name="email">
          </div>
          <div class="field">
            <input type="password" placeholder="Password" name="password">
          </div>
          <div class="field">
            <input type="password" placeholder="Confirm password" name="confirm_password">
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="cardlogin.js"></script>
 j
</body>

</html>